@import 'vuestic-ui/dist/styles/index.css';

.va-input,
.va-select {
  width: 100%;
}

.fill-height {
  height: 100%;
}

.text-medium{
  font-weight: 500;
}


.layout{
  &.fluid{
    max-width: 80srem;
  }
}
.activeMenuSidebar {
  background: linear-gradient(91deg, rgb(80, 19, 191) -59.96%, rgb(0, 204, 153) 122.1%);
}